*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Rubik',sans-serif;
}

body{
    background-color: hsl(226, 43%, 10%);
    color:#fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2{
    background-color:  hsl(235, 46%, 20%);
    border-radius: 10px;
    width: 230px;
}

.card-header{
    background-color: red;
    padding: 0 20px;
    height: 30%;
}
.card-body{
    padding: 20px;
    height: 70%;
    border-radius: 10px;
}
.top-study{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hre{
    padding: 20px 0;
    font-size: 3.3em;
}