*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Rubik',sans-serif;
}

body{
    background-color: hsl(226, 43%, 10%);
    color:#fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2{
    background-color:  hsl(15, 100%, 70%);
    border-radius: 10px;
    width: 230px;
}
.card-header{
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    /* background-color: green; */
}
.img-container{
    height: 50px;
}
.img-container img{
    position: absolute;
    right: 20px;
    top:-8px;
    width: 84px;
}
/*
 Exercise: no top;
 Play: -2px top;
 social: none;
 self-care: -8px top, width 74px;
 study: -6px top;
work: -8px top;
*/
.card-body{
    background-color: hsl(235, 46%, 20%);
    padding: 25px;
    border-radius: 10px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hr{
    padding: 25px 0 5px 0;
    font-size: 3.3em;
}